.cart {
    position: absolute;
    height: fit-content;
    right: 20px;
    bottom: 100px;
    padding: 10px;
    width: 300px;

    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    -webkit-animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-ver-bottom 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.btnContainer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.cartBtn {
    background: none;
    border: none;
    cursor: pointer;
}

.cartImg {
    width: 50px;
    height: 50px;
}

.cartItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartImgContainer {
}

.cartImgContainer img {
    width: 100px;
    border-radius: 5px;
}

.cartItemInfoContainer {
    display: flex;
    flex-direction: column;
}

.cartItemControl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartAmountBtns {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cartAmountBtns button {
    margin: 0 10px;
    background-color: rgb(255, 203, 63);
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
}

.makeOrderBtn {
    width: 100%;
    padding: 10px;
    font-weight: bold;
    background-color: #f2b000;
    border: none;
    cursor: pointer;
}

.itemCount {
    background-color: #f2b000;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
}