.mealContainer {
    display: flex;
}

.imgContainer img {
    width: 250px;
}

.mainContainer {
    margin: 0px 20;
}

.mainHeader {
    margin: 0;
}

.mainDescription {
    margin: 10px 0;
}

.cartBtn button {
    padding: 8px;
    border: none;
    background-color: #f2b000;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 800px) {
    .mealContainer {
        display: flex;
        flex-direction: column;
    }

    .imgContainer img {
        width: 100%;
    }

    .mainDescription {
        font-weight: 600;
        font-size: 18px;
    }
}