.itemContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.restImg {
    width: 150px;
    height: 120px;
    object-fit: fill;
}

.infoContainer {
    margin-left: 10px;
}

.restName {
    margin: 0;
}

.restDescription {
    margin: 10px 0;
}

.detailLink {
    text-decoration: none;
    color: #f2b000;
    font-weight: bold;
}

.linkArrow {
    display: none;
}

.detailLink:hover .linkArrow {
    display: inline;
}