.container {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.statusItem {
    background-color: #f2b000;
    font-weight: bold;
    color: black;
    padding: 10px;
    margin: 5px 0;
}