.formToggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBtn {
    padding: 1rem;
    border: none;
    background-color: #FA6400;
    color: white;
    font-size: .75rem;
    cursor: pointer;
    outline: none;
}

.loginToggle {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.registerToggle {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.activeToggle {
    background-color: #ae4500;
}