.formToggle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBtn {
    padding: 1rem;
    background-color: white;
    color: black;
    font-size: .75rem;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
}

.loginToggle {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.registerToggle {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.activeToggle {
    background-color: #f2b000;
    border: none;
}