.formError {
    margin: 0.5rem 0;
    background-color: red;
    color: white;
    padding: .5rem;
}

.formControl {
    display: flex;
    flex-direction: column;
    margin: .75rem 0;
}

.formControl label {
    color: #555555;
    font-weight: bold;
    margin-bottom: .25rem;
}

.formControl input {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

    padding: 3px;
    font-size: 18px;
    outline: none;
    border: none;
}

.errorMsg {
    margin-top: 5px;
    color: red;
}

.submitBtn {
    width: 100%;
    border-radius: 3px;
    padding: .75rem;
    border: none;
    color: white;
    background-color: #FFCB3F;
    cursor: pointer;
}

.signError {
    margin: 10px 0;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}