p {
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 20px 1rem 20px 0;
    border-right: 1px solid #cfcfcf;
}

.menuItemsContainer {
    width: 100%;
}

.itemContainer {
    width: 100%;
}

.navItem {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
}

.activeItem {
    background-color: #FFCB3F;
    border-radius: 10px;
    color: black;
}

.logo {
    width: 25px;
}

.menuText {
    margin: 0 .5rem;
}

.userContainer {
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profileLogo {
    width: 50px;
    margin-bottom: 1rem;
}

.profileName {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .1rem;
}

.profileRole {
    font-size: .9rem;
    font-style: italic;
    font-weight: bold;
    color: grey;
    margin-bottom: .5rem;
}

.btnLogout {
    border: none;
    padding: .5rem 1.5rem;
    cursor: pointer;
    background-color: #FFCB3F;
    color: black;
}