p {
    padding: 0;
    margin: 0;
}

.navigation {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.menuItemsContainer {
    width: 100%;
}

.itemContainer {
    width: 100%;
}

.navItem {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    text-decoration: none;
    color: #212121;
    font-weight: normal;
    font-size: 1.1rem;
    border: 1px solid #fff4de;
    border-radius: 3px;
    margin-bottom: 8px;
    transition: 0.3s;
}

.navItem:hover {
    background-color: #f2b000;
    color: #000000;
}

.activeItem {
    background-color: #FFCB3F;
    border-radius: 4px;
    color: black;
}

.logo {
    width: 25px;
}

.menuText {
    margin: 0 .5rem;
}

.optionalNav {
    padding: .5rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.userContainer {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.profileLogo {
    width: 50px;
    margin-bottom: 1rem;
}

.profileName {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .1rem;
}

.profileRole {
    font-size: .9rem;
    font-style: italic;
    font-weight: bold;
    color: grey;
    margin-bottom: .5rem;
}

.editLink {
    margin: 10px 0;
}

.btnLogout {
    border: none;
    padding: .5rem 1.5rem;
    cursor: pointer;
    background-color: #FFCB3F;
    color: black;
}

@media (max-width: 1220px) {
    .navigation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
    }
}

@media (max-width: 460px) {
    .navigation {
        display: flex;
        flex-direction: column-reverse;
    }

    .userContainer, .authContainer {
        margin-bottom: 20px;
    }
}